.trackList {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  text-align: left;
  margin: 0;
  border: 2px solid rgba(0, 15, 15, 0.7);

  .artistName {
    margin: 0 0 0 0;
  }
}
